/* СВЕТЛАЯ ТЕМА */

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
}

/* ТЕМНАЯ ТЕМЫ */

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

/* Финальная ширина = ширина */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ОБЩИЕ СТИЛИ */

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
}

/* СБРОС СТИЛЕЙ */

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

/* СОСТОЯНИЯ ССЫЛОК И КНОПОК */

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

/* МИКСЫ */

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

/* ШАПКА САЙТА */

.header {
  padding-block-start: 10%;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  position: relative;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  color: currentColor;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset-inline-start: -4px;
  inset-block-end: 0.3ch;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
}

/* ОСНОВНОЙ КОНТЕНТ */

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--accent-color);
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: inherit;
}

.content__figure {
  position: relative;
  inset-inline-end: 5vi;
  margin: 7% auto;
  inline-size: calc(100% + 10vi);
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  border-block-end: 1px solid currentColor;
}

.content__blockquote {
  margin: 0 auto 1.5em;
  inline-size: 75%;
  font-style: italic;
  line-height: 2;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset-inline-start: -4px;
  inset-block-end: 0.3ch;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
}

.content__list {
  padding: 0 0 0 40px;
  list-style: none;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: "";
  position: absolute;
  inset-inline-start: -25px;
  inset-block-start: 50%;
  margin-block-start: -7.5px;
  inline-size: 15px;
  block-size: 15px;
  background: url(../images/marker-light.svg) no-repeat center/contain;
}

/* ПОДВАЛ САЙТА */

.footer {
  margin-block-start: 10%;
  padding: 2.5%;
  text-align: center;
  border-block-start: 1px solid currentColor;
}

.footer__copyright {
  font-size: 18px;
}

/* ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ ДЛЯ ТЕМНОЙ ТЕМЫ */

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}
