:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font), serif;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding: 10% 0 0;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 30px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin: 0 0 1.5em;
}

.content__paragraph a {
  color: inherit;
}